<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/index.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>COVID-19 Dectector</title>
</head>
<body>
    <h1>Hello World</h1>

    <form method="POST" enctype="multipart/form-data">
        <div class="form-group row">
            <div class="custom-file inner">
                <input class="custom-file-input" type="file" accept="image/png, image/jpeg"/>
                <label class="custom-file-label" for="image">Select image...</label>
            </div>

            <button type="submit" class="btn btn-primary">Upload</button>
          </div>        
    </form>

</body>
</html>